/* body { */
/*   margin: 0; */
/*   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', */
/*     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
/*     sans-serif; */
/*   -webkit-font-smoothing: antialiased; */
/*   -moz-osx-font-smoothing: grayscale; */
/* } */

/* code { */
/*   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
/*     monospace; */
/* } */
:root {
  /* --btn-primary: rgba(25, 118, 210, 1); */
  --btn-primary: rgba(26, 115, 232, 1);
  --btn-secondary: rgba(73, 163, 241, 1);
  --btn-gradient: linear-gradient(195deg, rgba(73, 163, 241, 1), rgba(26, 115, 232, 1));
  --bg-white: rgba(240, 242, 245, 1);
  --box-primary: rgba(31, 31, 31, 1);
  --box-secondary: rgba(70, 70, 70, 1);
  --box-gradient: linear-gradient(195deg, rgba(70, 70, 70 , 1), rgba(31, 31, 31, 1));
  --success-primary: #66bb6a;
  --success-secondary: #43a047;
  --success-gradient: linear-gradient(195deg, #66bb6a, #43a047);
  --error-primary: #ef5350;
  --error-secondary: #e53935;
  --error-gradient: linear-gradient(60deg, #ef5350, #e53935);
}
body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
  width: 100%;
}
.is-active {
  background: var(--btn-gradient);
}
